*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
}
.main {
	height: 100vh;
	min-height: 600px;
	background: url(../img/background.png) no-repeat center;
	background-size: cover;
}
.main-overlay {
	background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
	background-image: -o-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}

